{
 "extends": [
    "stylelint-config-recommended-scss"
 ],
 "rules": {
    "color-no-invalid-hex": true,
    "selector-max-specificity": "0,4,0",
    "property-no-unknown": true,
    "color-hex-length": "long",
    "comment-no-empty": true,
    "no-duplicate-selectors": true,
    "declaration-block-no-duplicate-properties": true,
    "block-no-empty": true,
    "comment-empty-line-before": "always",
    "max-nesting-depth": 4,
    "selector-class-pattern": "^.[a-z]([a-z0-9-]+)?(__([a-z0-9]+-?)+)?(--([a-z0-9]+-?)+){0,2}$"
  }
}