@use "sass:color";

:root {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Cabecera */

.header {
  @include custom-spacing(padding, 2, 0, 4);
  @include prefix-sticky;

  top: 0;
  background-color: $main-color-light;
  box-shadow: $main-header-box-shadow;

  &__content {
    width: $mqMinWidth;
    margin: 0 auto;
  } 

  &__title {
    font-size: 3.5rem;

    @include inline-block-with-padding(14px);

    &--letters {
      display: block;
      margin: 0 0 25px 0;
      line-height: 0.75rem;
    }
  }

  &__link {
    color: $main-color-dark;
    &:hover { color: $main-color-accent-dark; }
  }

  &__list {
    list-style-type: none;
    font-size: 1rem;

    &__item {
      font-weight: bold;

      & + & {
        @include custom-spacing(margin, 0, 0, 0, 20);
      }
    }
  }
}


/* Pie de página */

.footer {
  background-color: $main-color-dark;
  color: $main-color-light;

  @include custom-spacing(padding, 7, 0, 5);
  @include custom-spacing(margin, 0);

  &__content {
    width: $mqMinWidth;
    margin: 0 auto;
  }

  &__copyright { font-size: 0.7rem; }
  &__dot-separator {
    @include custom-spacing(margin, 0, 1, 0, 1);
  }

  &__social {
    @include custom-spacing(padding, 2, 0, 3);

    &__img:hover { opacity: 0.7; }
  }
  
  &__small-print {
    font-size: 0.8rem;

    &__link { 
      color: $main-color-light; 
      &:hover { color: $main-color-accent-dark; }
    }
  }
}


/* Contenido principal */

.main {
  @include custom-spacing(padding, 0, 0, 7); 

  background-color: $main-color-light;
  color: $main-color-dark;

  a { color: $main-color-accent; 
    &:hover { color: $main-color-accent-dark; }
  }

  &__hero {
    @include custom-text-properties(2.75rem);
    @include custom-spacing(padding, 20, 0, 20);

    color: $main-color-light;
    background-image: url(./../images/bg-hero-home.jpg);
    background-size: cover;
    text-align: center;

    &__content {
      width: $mqMinWidth;
      margin: 0 auto;
    }

    &__header {
      @include custom-text-properties(4rem, 5rem, bold);

      text-shadow: 3px 3px rgba(0, 0, 0, 0.4);
    }
  }

  &__content {
    width: $mqMinWidth;
    margin: 0 auto;
  }

  &__section {

    &--first {
      &__header {
        font-size: 2rem;
        text-align: center;
        text-shadow: 2px 2px color.adjust($main-color-dark, $lightness: 75%);

        @include custom-spacing(padding, 5, 0, 3);
      }
      
      &__text {
        @include custom-text-properties(1.25rem);

        & + & {
          @include custom-spacing(margin, 4);
        }
      }
    }

    &__header {
      font-size: 2rem;
      text-align: center;
      text-shadow: 2px 2px color.adjust($main-color-dark, $lightness: 75%);

      @include custom-spacing(padding, 7, 0, 3);
    }

    &__info {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__article {
    width: 310px; 

    @include custom-spacing(padding, 0, 0, 6);

    &__header {
      @include custom-text-properties(1.4rem, 1.3, bold);
      @include custom-spacing(margin, 2, 0, 1);
    }

    &__img { border-radius: 10px; }
  
    &__time {
      display: block;

      @include custom-text-properties(0.8rem);
      @include custom-spacing(margin, 2);
    }
    
    &__text{
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      color: $main-color-dark;

      @include custom-text-properties(0.9rem, 1.4);	
    }
  
    &__footer {
      text-transform: uppercase;

      @include custom-spacing(padding, 2);
      @include custom-text-properties(0.65rem, inherit, bold);
    }
  }
}
