  *, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  html, body {
    height: 100%;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: inline;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  blockquote > p {
    quotes: '\00AB' '\00BB' '\201E' '\201C';
  }

  blockquote p::before { content: open-quote; }
  blockquote p::after { content: close-quote; }

  ul {
    list-style-type: none;

    @include custom-spacing(padding, 0);
    @include custom-spacing(margin, 0);
    
    li {
      @include inline-block-with-padding;
    }
  }

  a { 
    @include text-decoration-style;

    &:hover  {
      @include text-decoration-style;
    }
  }