<footer id="main_footer">
    <div class="content">
        <ul>
            <li><small><a href="#">Sobre nosotros</a></small> <span class="dot_separator">&#8901;</span> </li>
            <li><small><a href="#">Aviso legal</a></small> <span class="dot_separator">&#8901;</span> </li>
            <li><small><a href="#">Política de privacidad</a> <span class="dot_separator">&#8901;</span> </small></li>
            <li><small><a href="#">Política de cookies</a></small></li>
        </ul>
        
        <div id="social">
            <a href="#"><img width="20" src="./assets/images//twitter.svg" alt=""></a>
            <a href="#"><img width="20" src="./assets/images//instagram.svg" alt=""></a>
            <a href="#"><img width="25" src="./assets/images//youtube.svg" alt=""></a>
        </div>
        
        <p>&copy; María Rosa Aravid Martín</p>
    </div>
</footer>