<footer class="footer">
    <div class="footer__content">
        <ul class="footer__content__list">
            <li class="footer__content__list__item">
                <small class="footer__content__list__item__small-print">
                    <a class="footer__content__list__item__small-print__link" href="#">Sobre nosotros</a>
                    <span class="footer__content__list__item__small-print__dot-separator">&#8901;</span> 
                </small>
            </li>
            <li class="footer__content__list__item">
                <small class="footer__content__list__item__small-print">
                    <a class="footer__content__list__item__small-print__link" href="#">Aviso legal</a>
                </small>
                <span class="footer__content__list__item__small-print__dot-separator">&#8901;</span>
            </li>
            <li class="footer__content__list__item">
                <small class="footer__content__list__item__small-print">
                    <a class="footer__content__list__item__small-print__link" href="#">Política de privacidad</a>
                    <span class="footer__content__list__item__small-print__dot-separator">&#8901;</span> 
                </small>
            </li>
            <li class="footer__content__list__item">
                <small class="footer__content__list__item__small-print">
                    <a class="footer__content__list__item__small-print__link" href="#">Política de cookies</a>
                </small>
            </li>
        </ul>
        
        <div class="footer__content__social">
            <a class="footer__content__social__link" href="#">
                <img class="footer__content__social__link__img" width="20" src="./assets/images/twitter.svg" alt="Twitter">
            </a>
            <a class="footer__content__social__link" href="#">
                <img class="footer__content__social__link__img" width="20" src="./assets/images/instagram.svg" alt="Instagram">
            </a>
            <a class="footer__content__social__link" href="#">
                <img class="footer__content__social__link__img" width="25" src="./assets/images/youtube.svg" alt="Youtube">
            </a>
        </div>
        
        <p class="footer__content__copyright">&copy; María Rosa Aravid Martín</p>
    </div>
</footer>