<header class="header">
    <div class="header__content">
        <hgroup>
            <h1 class="header__title">
                <a class="header__link" href="index.html">
                    <img alt="Logo de Sabor a Valencia" src="./assets/images/neon_drink.png" width="100">            
                    <span class="header__name">Sabor a Valencia</span>
                </a>
            </h1>
        </hgroup>

        <nav class="menu">				
            <ul class="menu__list">
                <li class="menu__item">
                    <a class="menu__link" href="./participantes.html">Participantes</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./historia.html">Historia</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./recetas.html">Recetas</a>
                </li>
            </ul>
        </nav>

    </div>
    <h2 class="header__subtitle">Bienvenidos a la última edición del concurso de cócteles... <span class="header__subtitle--letters">¡con sabor a naranja!</span></h2>	
</header>