<header class="header">
    <div class="header__content">
        <h1 class="header__title">
            <a class="header__link" href="index.html">
                <img alt="logo de Madeira" src="./assets/images/logo-red.png" width="300">
                <span class="header__title--letters"> FUNCHAL</span>
            </a>
        </h1>
        <nav class="header__menu">				
            <ul class="header__list">
                <li class="header__list__item">
                    <a class="header__link" href="#">DÓNDE ALOJARSE</a>
                </li>
                <li class="header__list__item">
                    <a class="header__link" href="#">GASTRONOMÍA</a>
                </li>
                <li class="header__list__item">
                    <a class="header__link" href="#">QUÉ HACER</a>
                </li>
            </ul>
        </nav>
    </div>		
</header>