<header class="header">
    <div class="header__content">
        <h1 class="header__content__title">
            <a class="header__content__title__link" href="index.html">FUNCHAL
                <span class="header__content__title--letters"> Madeira</span>
            </a>
        </h1>
        <nav class="header__content__menu">				
            <ul class="header__content__menu__list">
                <li class="header__content__menu__list__item">
                    <a class="header__content__menu__list__item__link" href="#">DÓNDE ALOJARSE</a>
                </li>
                <li class="header__content__menu__list__item">
                    <a class="header__content__menu__list__item__link" href="#">GASTRONOMÍA</a>
                </li>
                <li class="header__content__menu__list__item">
                    <a class="header__content__menu__list__item__link" href="#">QUÉ HACER</a>
                </li>
            </ul>
        </nav>
    </div>		
</header>