@use "sass:color";

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css?family=Vibur');


$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$mqMinWidth: 1024px;

$main-header-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
$main-separation: 6px;

$main-color-light: #FFFAFA;
$main-color-dark: #020204;
$transition-color: #333333;

$main-color-accent: #DB6F16;
$main-color-shadow: #ff4444;

$main-color-accent-light: #ADF0F7;
$main-color-shadow-light: #4470ff;


/* Neon colors */

$neon-green:  oklch(94.04% 0.08 192);
$neon-yellow: oklch(98.33% 0.08 110);
$neon-pink:   oklch(84.85% 0.14 326);

/* Shadow neon colors */

$neon-green-shadow:  #36e3db;
$neon-yellow-shadow: #f4ff26;
$neon-pink-shadow:   #ed30f0;

$theme-colors: (
 "primary": $main-color-accent,
 "secondary": $main-color-accent-light
);

$nav-link-color: $main-color-accent;
$nav-link-hover-color: $main-color-accent;

$component-active-color: $main-color-dark;
$component-active-bg: $main-color-accent;

$carousel-control-transition: opacity .25s ease-in;


